@import 'styles/globalStyles';

.input-picker {
  height: 100%;
  //width: 100%;
  font-size: large;
  font-family: $main-font;
  border: 0;
  padding: 0 10px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
