@import 'styles/globalStyles';

.report-page-welcome{
  margin-left: 80px;
  text-align: center;
  font-family: $main-font;
  background-color: $color-light-gray;
  height: 100vh;

  .report-main-content-welcome{
    //background-color: $color-white;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-gray;
  }
}

.report-page {
  margin-left: 80px;
  text-align: center;
  font-family: $main-font;
  background-color: $color-light-gray;

  .report-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 0;
  }

  .report-main-content-welcome{
    //background-color: $color-white;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-gray;
  }
}
