@import 'styles/globalStyles';

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 85px;
  background-color: $color-white;

  .user-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    img{
      height: 30px;
      width: 30px;
      border-radius: 20px;
    }

    button{
      height: 30px;
      width: 30px;
      border: 0;
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;

      &:hover{
        cursor: pointer;
        background-color: $color-gray;
        border-radius: 20px;
      }

      &:focus{
        outline: none;
      }

      svg{
        height: 15px;
        width: 15px;
      }
    }

    .user-info{
      padding-left: 10px;
      h3{
        text-align: start;
      }
      p{
        padding: 0;
        color: $color-gray-3;
        font-size: small;
      }

    }


    p {
      padding-left: 10px;
    }

    .top-bar-icon {
      height: 30px;
      width: 30px;
    }
  }
}
