@import "styles/globalStyles";

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 10%;
  background-color: $color-white;

  .user-content {
    display: flex;
    flex-direction: row;
    p {
      padding-left: 10px;
    }
  }
}
