@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$main-font: 'Montserrat';

$color-white: #fff;
$color-gray: #e2e2e2;
$color-light-gray: #f9f9f9;
$color-light-gray-2: #f2f2f2;
$color-gray-2: #dcdcdcb5;
$color-light-green: #4caf50;
$color-green: #419644;
$color-blue: #1976d2;
$color-red: #e03333;

%hover-calendar {
  cursor: pointer;
  background-color: $color-light-gray-2;
}

@keyframes animation-1 {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animation-2 {
  0%{
    transform: scale(0);
    margin-left: 100%;
  }

  100%{
    transform: scale(1);
    margin-left: 0%;
  }
}