@import "../../styles/globalStyles";

.card{
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 180px;
  width: 280px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
              0px 1px 1px 0px rgba(0,0,0,0.14),
              0px 1px 3px 0px rgba(0,0,0,0.12);


  .card-content{
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: 5px;
    padding: 20px;
    align-items: end;
    border-bottom: 1px solid $color-gray;

    .card-head{
      margin-bottom: 5px;
    }
  }

  .card-footer{
    display: flex;
    //justify-content: center;
    align-items: center;
    height: 40%;
    border-radius: 5px;
    background-color: $color-white;

    .card-butt-1{
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;

      .card-butt{
        font-size: medium;
        font-family: $main-font;
        border: 0;
        border-radius: 5px;
        height: 70%;
        width: 30%;
        margin: 0 10px;

        &:hover{
          cursor: pointer;
          background-color: $color-light-gray-2;
        }

        &:focus{
          outline: none;
        }
      }
    }
    .card-butt-2{
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .card-butt-remove{
        border: 0;
        height: 80%;
        width: 75%;
        border-radius: 50px;

        svg{
          height: 15px;
          width: 15px;
        }

        &:hover{
          cursor: pointer;
          transition: background-color, color ease 1s;
          background-color: $color-light-gray-2;
        }

        &:focus{
          outline: none;
        }
      }
    }
  }
}


